@using System.Linq
@model IEnumerable<SGES.Web.Models.EventoModel>

@{
    ViewBag.Title = "Eventos disponibles";
}

<h2>@ViewBag.Title</h2>

@if (Model == null || !Model.Any())
{
    <p>No hay eventos disponibles en este momento.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.NombreEvento</td>
                <td>@e.TipoEvento</td>
                <td>@e.FechaHoraInicio.ToString("g")</td>
                <td>@e.FechaHoraFin.ToString("g")</td>
                <td>
                    @Html.ActionLink("Ver / Inscribirse", "Details", "Evento", new { id = e.IdEvento }, null)
                </td>
            </tr>
        }
        </tbody>
    </table>
}
